<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- 定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径 -->
  <property name="LOG_HOME" value="F:/logs/${contextName}/"/>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <!-- 日志输出格式 -->
  <property name="contextName" value="hystrix-user" />

  <!-- 控制台输出 -->
  <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <charset>UTF-8</charset>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <!-- 输出到日志文件 -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <charset>UTF-8</charset>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd_HH}.log</FileNamePattern>
      <MaxHistory>72</MaxHistory>
    </rollingPolicy>
  </appender>


  <!-- 全局日志级别为INFO -->
  <root level="INFO">
    <appender-ref ref="Console" />
    <appender-ref ref="FILE" />
  </root>

  <!-- 应用程序日志级别为INFO -->
  <logger name="com.gxd.hystrix" level="INFO">
  </logger>

  <!-- 打印SQL到控制台 -->
  <logger name="com.gxd.hystrix.mapper" level="DEBUG" additivity="false">
  </logger>
</configuration>